# Replace with your app's Auth Token (For help, see: https://github.com/reactiflux/discord-irc/wiki/Creating-a-discord-bot-&-getting-a-token)
DISCORD_TOKEN=""
# Replace with faucet server authentication keys and username
AUTH_USER_TITUS=""
AUTH_TITUS=""
AUTH_USER_CONSTANTINE=""
AUTH_CONSTANTINE=""
AUTH_USER_AUGUSTA=""
AUTH_AUGUSTA=""
